* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    list-style-type: none;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
}

.navbar-items {
    margin: 10px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: black;
}

.logo {
    display: flex;
    justify-content: center;
}

/* .logo-advanced {
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
} */

.search-field {
    display: flex;
    justify-content: center;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 584px;
    max-width: 584px;
    margin-top: 20px;
}

.btn-search {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.btn-searches {
    display: flex;
    justify-content: center;
}

.title-advanced {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.separator {
    border-bottom: 1px solid #ebebeb;
}

.container-search {
    margin: 35px 0 0 35px;
}

.find {
    color: #333;
    font-size: 16px;
}

.advanced-queries {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    width: 180px;
    font-size: 13px
}

.advanced-input {
    width: 385px;
    flex-wrap: nowrap;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}

.btn-div {
    max-width: 583px;
    display: flex;
    justify-content: flex-end;
}

.btn-advanced {
    border: 1px solid #3079ed;
    color: #fff;
    box-shadow: none;
    background-color: #4d90fe;
    padding: 10px;
    margin: 10px 0;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.btn-advanced:hover {
    background-color: #3079ed;
}